body {
  margin: 0;
  background-color: #2b2d42;
  color: #f0f0f0;
  font-family: Arial, sans-serif;
}

header {
  text-align: center;
  padding: 1.5rem 0;
  style="text-align": center;
  margin-bottom: 1rem;
}

header img {
  max-width: 70vw;
  height: auto;
  border-radius: 12px;
}
