html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: sans-serif;
}

body {
    background-color: #2b2b2b;
    color: #ffffff;
}

.header-logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 90%;
    max-width: 400px;
    height: 8vh;
    object-fit: cover;
    border-radius: 15px;
}

